include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('leko-team_test-task')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700&amp;subset=cyrillic" rel="stylesheet")

	body
		include pug/svg.pug

		.leko-team
			section.form-wrapper
				.form-wrapper_img
					header.form-content
						img#form-content_logo(src="images/header-logo__img.png" alt="")
						h1.form-content_header Потребительский Кредит от <b>16.9%</b>
						.form-service
							.form-service_item
								svg.form-service_svg 
									circle.form-service_circle(r="5" cx="50%" cy="50%" fill="#ffffff")
								span Снижаем ставку на <b>1%</b> каждый год
							.form-service_item
								svg.form-service_svg 
									circle.form-service_circle(r="5" cx="50%" cy="50%" fill="#ffffff")
								span Без комиссии, залога и поручителей
							.form-service_item
								svg.form-service_svg 
									circle.form-service_circle(r="5" cx="50%" cy="50%" fill="#ffffff")
								span Оформи за&nbsp;<b>5 минут</b>
							.form-service_item
								svg.form-service_svg 
									circle.form-service_circle(r="5" cx="50%" cy="50%" fill="#ffffff")
								span Долгосрочное погашение
			section.form
				h2.form_header Онлайн заявка
				.form_step-one Шаг 1 <b>Эти данные нужны нам, чтобы связаться с вами</b>
				form
					.one
						p.form_surname-txt Фамилия
						input.form_surname-input(type="text" pattern="[A-Za-zА-Яа-яЁё]{0,15}" placeholder="Макаров" title="Ваша фамилия" required autofocus)
					.one
						p.form_name-txt Имя
						input.form_name-input(type="text" pattern="[A-Za-zА-Яа-яЁё]{0,15}" placeholder="Дмитрий" title="Ваше имя" required)
					.one
						p.form_patr-txt Отчество
						input.form_patr-input(type="text" pattern="[A-Za-zА-Яа-яЁё]{0,15}" placeholder="Анатольевич" title="Ваше отчество" required)
					.form_radio
						p.form_citizen-txt Гражданство РФ
						.radiobutton
							input.form_citizen-input1(type='radio' name="def" id="radio-no" value="no")
							label.form_citizen-label1(for="radio-no") Нет
							input.form_citizen-input2(type='radio' name="def" id="radio-yes" value="yes" required)
							label.form_citizen-label2(for="radio-yes") Да
					button.form_send(type="submit") Отправить заявку
				
				
				
				
			.form-wrapper_whitespace

			

		include pug/scripts.pug
